{{define "content"}}

<img src="images/logo_influxdb.png" />

<svg width="720" height="120">
  <circle cx="40" cy="60" r="10"></circle>
  <circle cx="80" cy="60" r="10"></circle>
  <circle cx="120" cy="60" r="10"></circle>
</svg>

<script>
  var circle = d3.selectAll("circle");
  circle.style("fill", "steelblue");
  circle.attr("r", 30);
</script>

{{end}}
