<!doctype html>

{{define "base"}}
<html>
  <head>
    <title>Riot todo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.5/es5-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script>html5.addElements('todo')</script>
    <![endif]-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>

  </head>

  <body>

<!-- Navbar goes here -->

 <div class="container">

    <!-- Page Layout here -->
    <div class="row">

      <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo"></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="sass.html"><i class="mdi-action-search"></i></a></li>
            <li><a href="components.html"><i class="mdi-action-view-module"></i></a></li>
            <li><a href="javascript.html"><i class="mdi-navigation-refresh"></i></a></li>
            <li><a href="mobile.html"><i class="mdi-navigation-more-vert"></i></a></li>
          </ul>
        </div>
      </nav>

      <div class="col s3">
        <todo></todo>
            <p>
              <input type="checkbox" id="test5" />
              <label for="test5">Red</label>
            </p>
      </div>

      <div class="col s9">
      </div>

    </div>

</div>

    <script src="/tags/todo.tag" type="riot/tag"></script>
    <script src="https://cdn.jsdelivr.net/g/riot@2.0.14(riot.min.js+compiler.min.js)"></script>

    <script>
    riot.mount('todo', {
      title: 'Series',
      items: [
        { title: 'Avoid excessive coffeine', done: true },
        { title: 'Hidden item', hidden: true },
        { title: 'Be less provocative' },
        { title: 'Be nice to people' }
      ]
    })
    </script>

  </body>

</html>
{{end}}
